body{ color: #CC0033; background:#339900 ;text-align: center }
span{ display: block; }
 


.outline{ width: 110px; text-align: center; padding: 10px; margin: 10px; background: #FFF; color: #cc0033; }
.top{ text-align: left; }
.middle { text-align: center}
.bottom{ text-align: right; }
